/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* This CSS file contains specific CSS animations and properties concerning elements on the 'Privacy-AVG' page */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */


/* ------------------------ */
/* Text and Font Properties *//* -------------------------------------- */
/* ------------------------ */


h3 {
    font-size: 1.65rem;
}

h4 {
    font-size: 1.9rem;
}

p {
    font-size: 1.25rem;
    display: inline-block;
}

.fa-dot-circle {
    position: relative;
    font-size: 0.7rem;
    margin: 0 0.65rem 0 1rem;
    bottom: 0.15rem;
}

.list-styled {
    font-family: 'Bree Serif';
    letter-spacing: 0.075rem;
    font-size: 1.25rem;
    color: rgb(41, 50, 61);
    list-style: disc;
    margin-left: 2.35rem;
}
