/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* This CSS file contains specific CSS animations and properties concerning elements on the 'Social Media Marketing' page */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */


/* ------------------------ */
/* Text and Font Properties *//* -------------------------------------- */
/* ------------------------ */


.mcta-post .button-filled, .mcta-post-dark .button-filled {
    font-size: 1.4rem;
    font-family: 'Bree Serif';
}

.centered-text p {
    color: rgb(106, 230, 188);
    cursor: pointer;
    transition: opacity 250ms ease-in;
}

.centered-text p:hover {
    opacity: 0.6;
}


/* ----------------- */
/* Footer Properties *//* -------------------------------------- */
/* ----------------- */


.footer {
    margin-top: 0;
}

